In [2]:
# Importing Libraries
import pandas as pd

In [3]:
#!ls
file = pd.read_csv('Sampletext', header=None, delimiter = '\t')

In [4]:
file

                                                    0
0   Lorem ipsum dolor sit amet, consectetur adipis...
1   Aliquam erat volutpat. Sed lorem sapien, ullam...
2   Nullam neque velit, cursus nec eros id, conval...
3   Maecenas malesuada elementum augue consequat p...
4   Nunc dictum accumsan magna, eu convallis turpi...
5   Nam vitae lectus nec diam fringilla euismod. M...
6   Ut consectetur, nisl ut consequat dictum, orci...
7   Etiam sed erat convallis, feugiat justo vel, s...
8   Vestibulum dapibus dapibus pulvinar. Cras iacu...
9   Suspendisse potenti. Donec sollicitudin mauris...
10  Nunc aliquet hendrerit ante suscipit luctus. S...
11  Aenean vitae malesuada dolor. Nulla tincidunt ...
12  Phasellus a purus sit amet nibh euismod varius...
13  Fusce luctus eleifend lectus eget eleifend. Na...

In [5]:
def ASCII(s):
    x = []
    for i in range(len(s)):
        x.append(ord(s[i]))
    return x

In [6]:
ASCII("hello world") # Test case

[104, 101, 108, 108, 111, 32, 119, 111, 114, 108, 100]

In [11]:
file[0][1] # First Record

'Aliquam erat volutpat. Sed lorem sapien, ullamcorper sed volutpat ut, tempor et tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum nec eros non efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris tincidunt, elit in interdum venenatis, massa quam faucibus nulla, ut mattis ipsum nibh quis eros. Proin laoreet ipsum leo.'

In [34]:
space = []
# Loop to convert all characters to ASCII and add them to a separate list 'space'
for i in range(file.shape[0]):
    temp = []
    temp = ASCII(file[0][i])
    space.append(temp)

In [37]:
space.shape

AttributeError: 'list' object has no attribute 'shape'

In [49]:
print("Space: ",len(space), ",", len(space[0]))

Space:  14 , 435